{% extends 'base.html' %}

{% block title %}Listado de Libros{% endblock %}

{% block content %}
    <h1>Listado de libros</h1>
    <a href="{% url 'crear_libro' %}">Añadir nuevo libro</a>
    <br><br>

    {% if libros %}
        <ul>
        {% for libro in libros %}
            <li>
                <a href="{% url 'detalle_libro' pk=libro.pk %}">
                    {% if libro.imagen %}
                        <img src="{{ libro.imagen.url }}" alt="Portada de {{ libro.titulo }}" style="max-width: 80px; height: auto; margin-right: 10px;">
                    {% else %}
                        <span>[Sin imagen]</span>
                    {% endif %}
                    {{ libro.titulo }} - {{ libro.autor }}
                </a>
                <!-- Enlaces para modificar y eliminar -->
                <a href="{% url 'modificar_libro' pk=libro.pk %}">Modificar</a>
                <a href="{% url 'eliminar_libro' pk=libro.pk %}">Eliminar</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay libros registrados.</p>
    {% endif %}
{% endblock %}
