{% extends 'base.html' %}

{% block title %}Listado de Libros{% endblock %}

{% block content %}
    <h1>Listado de libros</h1>

    {% if libros %}
        <ul>
            {% for libro in libros %}
                <li>
                    {{ libro.titulo }} de {{ libro.autor }} ({{ libro.fecha_publicacion }})
                    <a href="{% url "modificar_libro" libro.id %}">Modificar</a>
                    <a href="{% url "eliminar_libro" libro.id %}">Eliminar</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay libros aún. ¡Sé el primero en agregar uno!</p>
    {% endif %}
{% endblock %}
